<nav>
  <ul role="menu">
    <li role="menuitem">
      <a routerLinkActive="active" routerLink="/character">
        <fa-icon [icon]="faUsers"></fa-icon>
      </a>
    </li>
    <li role="menuitem">
      <a routerLinkActive="active" routerLink="/episode">
        <fa-icon [icon]="faPlaceOfWorship"></fa-icon>
      </a>
    </li>
    <li role="menuitem">
      <a routerLinkActive="active" routerLink="/location">
        <fa-icon [icon]="faImages"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
